* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar {
  position: sticky;
  top: 0;
  height: 3vh;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  opacity: 0.8;
}

.navbar i {
  background: -webkit-linear-gradient(red, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 2vh;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.navbar ul li a:hover {
  color: aqua;
}

.allpage {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#page1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("watch-og-image-202203.jpg");
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  text-align: center;
  color: white;
}

.content h1 {
  font-size: 7vw;
}

.content p {
  font-size: 4vw;
}

#page2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("hero__ecv967jz1y82_large_2x.jpg");
}

.form {
  display: flex;
  justify-content: center;
  width: 70vw;
  height: 60vh;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  border-radius: 1%;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 0.8vh;
  border-radius: 0.4vh;
  box-sizing: border-box;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 1vh 2vh;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#page3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("iphone-13-model-unselect-gallery-1-202207\ \(1\).jpg");
}
